glance-dashboard/glance
immich/.env
headscale/.env
immich/library
immich/postgres
docmost/docmost
cloud-services/open-wearables/src
cloud-services/open-wearables/.env

backup/*
!backup/readme.md

# Local Docker Compose Overrides
docker-compose.override.yml
docker-compose.override.yaml
