services:
   traccar:
      image: traccar/traccar
      ports:
         - "4411:8082" # Web interface
         - "5055:5055/udp" # GPS device ports (for iOS Traccar Client App)
         - "5055:5055/tcp" # GPS device ports (for iOS Traccar Client App)
         # - "5000-5150:5000-5150/udp" # GPS device ports (adjust as needed)
         # - "5000-5150:5000-5150/tcp" # GPS device ports (adjust as needed)
      volumes:
         - ${DOCKER_FOLDER}/traccar:/opt/traccar
         # - ./traccar.xml:/opt/traccar/conf/traccar.xml #Optional, to override default config.
      # restart: unless-stopped
      environment:
         - TZ=Your_Timezone # Replace with your timezone (e.g., Europe/London)
      #network_mode: host #Alternatively, for easier port access.
