services:
   nextcloud:
      image: nextcloud:32.0.2
      container_name: nextcloud
      restart: unless-stopped
      ports:
         - "4520:80"
      volumes:
         - nextcloud_data:/var/www/html
      environment:
         - POSTGRES_HOST=${POSTGRES_HOST}
         - POSTGRES_USER=${POSTGRES_USER}
         - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
         - POSTGRES_DB=${POSTGRES_DB}
         - REDIS_HOST=${REDIS_HOST}
         - REDIS_PORT=${REDIS_PORT}
         - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
         - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
         - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
         - OVERWRITEHOST=${NEXTCLOUD_TRUSTED_DOMAINS}
         - OVERWRITEPROTOCOL=https
      depends_on:
         - db
         - redis

   db:
      image: postgres:18.1
      container_name: nextcloud-db
      restart: unless-stopped
      environment:
         - POSTGRES_USER=${POSTGRES_USER}
         - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
         - POSTGRES_DB=${POSTGRES_DB}
      volumes:
         - nextcloud_db:/var/lib/postgresql

   redis:
      image: redis:8.4.0
      container_name: nextcloud-redis
      restart: unless-stopped
      volumes:
         - redis_data:/var/lib/redis

   collabora:
      image: collabora/code:latest
      container_name: nextcloud-collabora
      restart: unless-stopped
      environment:
         - domain=${NEXTCLOUD_TRUSTED_DOMAINS}
         - username=${COLLABORA_USERNAME}
         - password=${COLLABORA_PASSWORD}
         - extra_params=--o:ssl.enable=false --o:ssl.termination=true
      ports:
         - "9980:9980"


volumes:
   nextcloud_data:
   nextcloud_db:
   redis_data:
