services:
   homeassistant:
      container_name: homeassistant
      image: "ghcr.io/home-assistant/home-assistant:stable"
      restart: unless-stopped
      privileged: true
      network_mode: host
      volumes:
         - ${DOCKER_FOLDER}/home-assistant/config:/config
         - /etc/localtime:/etc/localtime:ro
         - /run/dbus:/run/dbus:ro
      cap_add:
         - NET_ADMIN
         - NET_RAW
      devices:
         - /dev/serial/by-id//usb-Nabu_Casa_SkyConnect_v1.0_0ChangeThis-if00-port0

# Check your path: Before starting, run ls /dev/serial/by-id/ in your terminal.
# Best Practice: Use the long ID found in that folder (e.g., /dev/serial/by-id/usb-Nabu_Casa_Home_Assistant_Connect_ZBT-1_...). This ensures that if you plug in another USB device later, the "address" of your Zigbee stick doesn't change and break your setup.