services:
   homeassistant:
      container_name: homeassistant
      image: "ghcr.io/home-assistant/home-assistant:stable"
      ports:
         - "8123:8123"
      volumes:
         - ${DOCKER_FOLDER}/home-assistant:/config
         - /etc/localtime:/etc/localtime:ro
         - /run/dbus:/run/dbus:ro
