services:
   headscale:
      container_name: headscale
      volumes:
         - ${DOCKER_FOLDER}/headscale/config:/etc/headscale
         - ${DOCKER_FOLDER}/headscale/lib:/var/lib/headscale
         - ${DOCKER_FOLDER}/headscale/run:/var/run/headscale
      ports:
         - "8080:8080"   # For NPM to talk to
         - "3478:3478/udp" # STUN (Helps direct connections)
         - "41641:41641/udp" # Optional: For DERP relaying    
      image: headscale/headscale:${HS_VERSION}
      command: serve
      restart: unless-stopped
      environment:
         - TZ=Europe/Stockholm

# Optionally, you can use ${DOMAIN_NAME} in environment or labels if needed
