services:
   headplane:
      image: ghcr.io/tale/headplane:latest
      container_name: headplane
      volumes:
         - ${DOCKER_FOLDER}/headscale/headplane-config:/etc/headplane
      ports:
         - "4501:3000"
      environment:
         - HP_HEADSCALE_URL=http://headscale:8080
         - HP_SERVER_COOKIE_SECRET=${HP_SERVER_COOKIE_SECRET}
         - HP_SERVER_HOST=0.0.0.0
         - HP_SERVER_PORT=3000
         - HP_SERVER_COOKIE_SECURE=false
         - HP_HEADSCALE_CONFIG_STRICT=false
      restart: unless-stopped
      networks:
         - headscale-net

networks:
  headscale-net:
    external: true