services:
   nginxproxymgr:
      image: "jc21/nginx-proxy-manager:latest"
      container_name: reverse_proxy
      restart: unless-stopped
      ports:
         - "80:80" # HTTP
         - "81:81" # Web UI
         - "443:443" # HTTPS
      volumes:
         - ${DOCKER_FOLDER}/nginx-pm/data:/data
         - ${DOCKER_FOLDER}/nginx-pm/letsencrypt:/etc/letsencrypt
