services:
   nginxproxymgr:
      image: "jc21/nginx-proxy-manager:latest"
      container_name: reverse_proxy
      restart: unless-stopped
      network_mode: host
      volumes:
         - ${DOCKER_FOLDER}/nginx-pm/data:/data
         - ${DOCKER_FOLDER}/nginx-pm/letsencrypt:/etc/letsencrypt
